<div class="container">
  <h1>Welcome to GitHub, Jr.</h1>
  <h2> Login</h2>
  <form action="/search" method="post">
    <input type="text" name="user" placeholder="Enter a GitHub username..."><br>
    <input type="password" name="password" placeholder="Enter GitHub password..."><br>
    <input type="submit" value="Search">
  </form>
</div>
